<div class="header-main">
    <!-- Mobile Header -->
    <div class="sticky">
        <div class="horizontal-header clearfix ">
            <div class="container">
                <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
                <span class="smllogo">
                    <!-- <img src="../../assets/images/brand/logo1.png" width="120" alt="img"/> -->
                    <h2 class="text-center text-white"><strong>The Edushala</strong></h2>
                </span>
                <span class="smllogo-white">
                    <h2 class="text-center text-white"><strong>The Edushala</strong></h2>
                    <!-- <img src="../../assets/images/brand/logo.png" width="120" alt="img"/> -->
                </span>
                <a href="tel:245-6325-3256" class="callusbtn"><i class="icon icon-phone" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!-- /Mobile Header -->

    <!--Horizontal-main -->
    <div
        class="horizontal-main header-style1 bg-dark-transparent clearfix p-0 pt-0 border-bottom border-white-transparent">
        <div class="horizontal-mainwrapper container clearfix">
            <div class="desktoplogo">
                <a href="../index.php">
                    <h2 class="text-center text-white"><strong>The Edushala</strong></h2>

                    <img src="../../assets/images/brand/logo1.png" class="header-brand-img header-white" alt="logo">
                </a>
            </div>
            <div class="desktoplogo-1">

                <a href="../index.php">
                    <h2 class="text-center"><strong>The Edushala</strong></h2>
                    <!-- <img src="../../assets/images/brand/logo.png" alt="img"> -->
                </a>
            </div>
            <nav class="horizontalMenu clearfix d-md-flex">
                <ul class="horizontalMenu-list">
                    <li aria-haspopup="true"><a href="javascript:void(0)">Universities & Colleges <span
                                class="fe fe-chevron-down"></span></a>
                        <div class="horizontal-megamenu clearfix">
                            <div class="container">
                                <div class="megamenu-content">
                                    <div class="row">
                                        <ul class="col link-list">
                                            <li class="title text-uppercase">Universities </li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../university/maharshi-dayanand-university-mdu-rohtak.php"
                                                    class="p-0">Maharshi Dayanad University [MDU], Rohtak</a></li>
                                            <li class="d-sm-none"><a
                                                    href="../university/maharshi-dayanand-university-mdu-rohtak.php"
                                                    class="p-0">MDU, Rohtak</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../university/chaudhary-ranbir-singh-university-crsu-jind.php"
                                                    class="p-0">Chaudhary Ranbir Singh University [CRSU], Jind</a></li>
                                            <li class="d-sm-none"><a
                                                    href="../university/chaudhary-ranbir-singh-university-crsu-jind.php"
                                                    class="p-0">CRSU, Jind</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../university/indira-gandhi-national-open-university-ignou-new-delhi.php"
                                                    class="p-0">Indira Gandhi National Open University [IGNOU]</a></li>
                                            <li class="d-sm-none"><a
                                                    href="../university/indira-gandhi-national-open-university-ignou-new-delhi.php"
                                                    class="p-0">IGNOU</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../university/jain-university-ju-bangalore.php"
                                                    class="p-0">Jain University [JU], Bangalore</a></li>
                                            <li class="d-sm-none"><a
                                                    href="../university/jain-university-ju-bangalore.php"
                                                    class="p-0">JU,
                                                    Bangalore</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../university/kurukshetra-university-kuk.php"
                                                    class="p-0">Kurukshetra University [KUK], Kurukshetra</a></li>
                                            <li class="d-sm-none"><a href="../university/kurukshetra-university-kuk.php"
                                                    class="p-0">KUK, Kurukshetra</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../university/narsee-monjee-institute-of-management-studies-nmims-mumbai.php"
                                                    class="p-0">Narsee Monjee Institute of Management Studies [NMIMS],
                                                    Mumbai</a></li>
                                            <li class="d-sm-none"><a
                                                    href="../university/narsee-monjee-institute-of-management-studies-nmims-mumbai.php"
                                                    class="p-0">NMIMS, Mumbai</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../university/rimt-university-gobindgarh.php" class="p-0">RIMT
                                                    University, Gobindgarh</a></li>
                                            <li class="d-sm-none"><a href="../university/rimt-university-gobindgarh.php"
                                                    class="p-0">RIMT, Gobindgarh</a></li>
                                            <li class="d-none d-sm-block"><a href="../university/sharda-noida.php"
                                                    class="p-0">Sharda University [SU], Noida</a></li>
                                            <li class="d-sm-none"><a href="../university/sharda-noida.php"
                                                    class="p-0">SSU, Noida</a></li>
                                        </ul>
                                        <ul class="col link-list">
                                            <li class="title text-uppercase">Colleges</li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../college/institute-of-distance-and-online-learning-chandigarh-university-cuidol-chandigarh.php"
                                                    class="p-0"> Chandigarh University [CUIDOL], Chandigarh</a></li>
                                            <li class="d-sm-none"><a
                                                    href="../college/institute-of-distance-and-online-learning-chandigarh-university-cuidol-chandigarh.php"
                                                    class="p-0">CUIDOL, Chandigarh</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../college/mit-school-of-distance-education-mitsde-pune.php"
                                                    class="p-0">MIT School Of Distance Education [MITSDE], Pune</a></li>
                                            <li class="d-sm-none"><a
                                                    href="../college/mit-school-of-distance-education-mitsde-pune.php"
                                                    class="p-0">MITSDE, Pune</a></li>
                                            <li class="d-none d-sm-block"><a href="../college/imt-regular-distance.php"
                                                    class="p-0">Institute of
                                                    Management Technology [IMT], Gaziabad</a></li>
                                            <li class="d-sm-none"><a href="../college/imt-regular-distance.php"
                                                    class="p-0">IMT, Gaziabad</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../college/vivekananda-institute-of-technology-bangalore.php"
                                                    class="p-0">Vivekananda Institute of Technology [VIT], Bangalore</a>
                                            </li>
                                            <li class="d-sm-none"><a
                                                    href="../college/vivekananda-institute-of-technology-bangalore.php"
                                                    class="p-0">VIT, Bangalore</a>
                                            </li>
                                            <li class="d-none d-sm-block"><a href="../college/st-fracis-college.php"
                                                    class="p-0">St. Francis
                                                    College, Hyderabad</a></li>
                                            <li class="d-sm-none"><a href="../college/st-fracis-college.php"
                                                    class="p-0">St. Francis
                                                    , Hyderabad</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../college/mithibai-college-mumbai.php" class="p-0">Mithibai
                                                    College of Arts, Mumbai</a></li>
                                            <li class="d-sm-none"><a href="../college/mithibai-college-mumbai.php"
                                                    class="p-0">Mithibai
                                                    College, Mumbai</a></li>
                                            <li class="d-none d-sm-block"><a href="../college/ramjas-college-delhi.php"
                                                    class="p-0">Ramjas College,
                                                    Delhi</a></li>
                                            <li class="d-sm-none"><a href="../college/ramjas-college-delhi.php"
                                                    class="p-0">Ramjas College,
                                                    Delhi</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../college/academy-of-maritime-education-and-training-amet-chennai.php"
                                                    class="p-0">Academy of Maritime Education and Training [AMET],
                                                    Chennai</a></li>
                                            <li class="d-sm-none"><a
                                                    href="../college/academy-of-maritime-education-and-training-amet-chennai.php"
                                                    class="p-0">AMET,
                                                    Chennai</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../college/goswami-ganesh-dutta-sanatan-dharma-college.php"
                                                    class="p-0">Goswami Ganesh Dutta Sanatan Dharma College [GGDSDC],
                                                    Chandigarh</a></li>
                                            <li class="d-sm-none"><a
                                                    href="../college/goswami-ganesh-dutta-sanatan-dharma-college.php"
                                                    class="p-0">GGDSDC,
                                                    Chandigarh</a></li>
                                            <li class="d-none d-sm-block"> <a
                                                    href="../college/kings-george-medical-college-lucknow.php"
                                                    class="p-0">King's George Medical College [KGMU], Lucknow</a></li>
                                            <li class="d-sm-none"><a
                                                    href="../college/kings-george-medical-college-lucknow.php"
                                                    class="p-0">KGMU, Lucknow</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../college/jd-institute-of-fashion-technology-bangalore.php"
                                                    class="p-0">JD institute of Fashion Technology, Bangalore</a></li>
                                            <li class="d-sm-none"><a
                                                    href="../college/jd-institute-of-fashion-technology-bangalore.php"
                                                    class="p-0">JD institute, Bangalore</a></li>

                                        </ul>
                                        <!-- <ul class="col link-list">
                                            <li class="title">Other Pages</li>
                                            <li><a href="#"> Settings</a></li>
                                            <li><a href="#">Course Details</a></li>
                                            <li><a href="#">Course Details 1</a></li>
                                            <li><a href="#">Course Details Right</a></li>
                                            <li><a href="#">Testimonials</a></li>
                                            <li><a href="#">Faq</a></li>
                                        </ul>
                                        <ul class="col link-list">
                                            <li class="title">Headers & Footers</li>
                                            <li><a href="#">Header Style 01</a></li>
                                            <li><a href="#">Header Style 02</a></li>
                                            <li><a href="#">Header Style 03</a></li>
                                            <li><a href="#">Header Style 04</a></li>
                                            <li><a href="#">Footer Style 01</a></li>
                                            <li><a href="#">Footer Style 02</a></li>
                                            <li><a href="#">Footer Style 03</a></li>
                                            <li><a href="#">Footer Style 04</a></li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li aria-haspopup="true"><a href="javascript:void(0)">Online & Distance UG/PG <span
                                class="fe fe-chevron-down"></span></a>
                        <div class="horizontal-megamenu clearfix">
                            <div class="container">
                                <div class="megamenu-content">
                                    <div class="row">
                                        <ul class="col link-list">
                                            <li class="title text-uppercase">Under Graduate </li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-bba.php"
                                                    class="p-0">Bachelors of Business
                                                    Administration [BBA]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-bca.php"
                                                    class="p-0">Bachelor of Computer
                                                    Application [BCA]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-bed.php"
                                                    class="p-0">Bachelor of Education
                                                    Distance [B.ED]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-mbbs.php"
                                                    class="p-0">Bachelor of Medicine
                                                    and Bachelor of Surgery [MBBS]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-bpharma.php"
                                                    class="p-0">Bachelor of
                                                    Pharmacy [B.Pharma]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-bcom.php"
                                                    class="p-0">Bachelor of Commerce
                                                    [B.Com]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-btech.php"
                                                    class="p-0">Bachelor of
                                                    Technologyy [B.TECH]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-llb.php"
                                                    class="p-0">Bachelor's In Law
                                                    [LLB]</a></li>

                                            <li class="d-sm-none"><a href="../course/distance-bba.php"
                                                    class="p-0">BBA</a></li>
                                            <li class="d-sm-none"><a href="../course/distance-bca.php"
                                                    class="p-0">BCA</a></li>
                                            <li class="d-sm-none"><a href="../course/distance-bed.php"
                                                    class="p-0">B.ED</a></li>
                                            <li class="d-sm-none"><a href="../course/distance-mbbs.php"
                                                    class="p-0">MBBS</a></li>
                                            <li class="d-sm-none"><a href="../course/distance-bpharma.php"
                                                    class="p-0">B.Pharma</a></li>
                                            <li class="d-sm-none"><a href="../course/distance-bcom.php"
                                                    class="p-0">B.Com</a></li>
                                            <li class="d-sm-none"><a href="../course/distance-btech.php"
                                                    class="p-0">B.TECH</a></li>
                                            <li class="d-sm-none"><a href="../course/distance-llb.php"
                                                    class="p-0">LLB</a></li>


                                            <!-- Bachelor of Arts -->
                                            <li class="d-none d-sm-block"><a href="../course/distance-ba.php"
                                                    class="p-0 fw-bold pt-3">Bachelor
                                                    of Arts [BA]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-ba-journalism.php"
                                                    class="p-0">Bachelor
                                                    of
                                                    Arts Journalism [BA]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-ba-philosophy.php"
                                                    class="p-0">Bachelor
                                                    of
                                                    Arts Philosophy [BA]</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../course/distance-baHons-polscience.php" class="p-0">Bachelor
                                                    of Arts Hons. Polscience [BA]</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../course/distance-baHons-sociology.php" class="p-0">Bachelor
                                                    of Arts Hons. Sociology [BA]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-bfa.php"
                                                    class="p-0">Bachelor of Fine Arts
                                                    [BFA]</a></li>
                                        </ul>
                                        <ul class="col link-list">
                                            <!--Bachelor of Science  -->
                                            <li class="d-none d-sm-block"><a href="../course/distance-bsc.php"
                                                    class="p-0 fw-bold">Bachelor of
                                                    Science [B.SC]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-bFsc.php"
                                                    class="p-0">Bachelor of
                                                    Fisheries Science [BFSc]</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../course/distance-bsc-agriculture.php" class="p-0">Bachelor
                                                    of Science Agriculrute [BSC]</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../course/distance-bsc-Biotechnology.php" class="p-0">Bachelor
                                                    of Science Biotechnology [BSC]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-bsc-geography.php"
                                                    class="p-0">Bachelor
                                                    of
                                                    Science Geography [BSC]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-bsc-geology.php"
                                                    class="p-0">Bachelor of
                                                    Science Geology [BSC]</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../course/distance-bsc-homescience.php" class="p-0">Bachelor
                                                    of Science Homescience [BSC]</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../course/distance-bsc-aquaculture.php" class="p-0">Bachelor
                                                    of Science Aquaculture [BSC]</a></li>
                                            <li class="d-none d-sm-block"><a
                                                    href="../course/distance-bsc-Fashiontechnology.php"
                                                    class="p-0">Bachelor of Science Fashion Technology [BSC]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-bvsc.php"
                                                    class="p-0">Bachelor of
                                                    Veterinary Science [BVSC]</a></li>
                                            <!-- /Bachelor of Science -->
                                        </ul>
                                        <ul class="col link-list">
                                            <li class="title text-uppercase">Post Graduate </li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-mba.php"
                                                    class="p-0">Masters of Business
                                                    Administration [MBA]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-ma.php"
                                                    class="p-0">Masters of Arts
                                                    [MA]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-mcom.php"
                                                    class="p-0">Masters of Commerce
                                                    [M.Com]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-mtech.php"
                                                    class="p-0">Masters of
                                                    TECHNOLOGY [M.tech]</a></li>
                                            <li class="d-none d-sm-block"><a href="../course/distance-msc.php"
                                                    class="p-0">Master of Science
                                                    [M.Sc]</a></li>

                                            <li class="d-sm-none"><a href="../course/distance-mba.php"
                                                    class="p-0">MBA</a></li>
                                            <li class="d-sm-none"><a href="../course/distance-ma.php" class="p-0">MA</a>
                                            </li>
                                            <li class="d-sm-none"><a href="../course/distance-mcom.php"
                                                    class="p-0">M.Com</a></li>
                                            <li class="d-sm-none"><a href="../course/distance-mtech.php"
                                                    class="p-0">M.tech</a></li>
                                            <li class="d-sm-none"><a href="../course/distance-msc.php"
                                                    class="p-0">M.Sc</a></li>
                                        </ul>
                                        <!-- <ul class="col link-list">
                                            <li class="title">Other pages</li>
                                            <li><a href="#">Course Listing</a></li>
                                            <li><a href="#">Course Listing Right</a></li>
                                            <li><a href="#">Course Details</a></li>
                                            <li><a href="#">Course Details Right</a></li>
                                            <li><a href="#">Course Posts</a></li>
                                                <li><a href="#">Edit Posts</a></li>
                                            <li><a href="#">Course Posts2</a></li>
                                                <li><a href="#">Edit Posts2</a></li>
                                            <li><a href="#">Typography</a></li>
                                        </ul> -->
                                        <!-- <ul class="col link-list">
                                            <li class="title">User pages</li>
                                            <li><a href="#"> User Profile</a></li>
                                            <li aria-haspopup="true"><a href="#">User Profile 1</a></li>
                                            <li><a href="#">My Dashboard</a></li>
                                            <li><a href="#">My Courses</a></li>
                                            <li><a href="#">Favorite Courses</a></li>
                                            <li><a href="#">Manged Courses</a></li>
                                            <li><a href="#">Payments</a></li>
                                            <li><a href="#"> Orders</a></li>
                                        </ul> -->
                                        <!-- <ul class="col link-list">
                                            <li class="title">Other Pages</li>
                                            <li><a href="#"> Settings</a></li>
                                            <li><a href="#">Course Details</a></li>
                                            <li><a href="#">Course Details 1</a></li>
                                            <li><a href="#">Course Details Right</a></li>
                                            <li><a href="#">Testimonials</a></li>
                                            <li><a href="#">Faq</a></li>
                                        </ul> -->
                                        <!-- <ul class="col link-list">
                                            <li class="title">Headers & Footers</li>
                                            <li><a href="#">Header Style 01</a></li>
                                            <li><a href="#">Header Style 02</a></li>
                                            <li><a href="#">Header Style 03</a></li>
                                            <li><a href="#">Header Style 04</a></li>
                                            <li><a href="#">Footer Style 01</a></li>
                                            <li><a href="#">Footer Style 02</a></li>
                                            <li><a href="#">Footer Style 03</a></li>
                                            <li><a href="#">Footer Style 04</a></li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- <li aria-haspopup="true"><a href="../index.php"> About Us</a></li> -->
                    <li aria-haspopup="true" class="p-0 mt-1">
                        <span><a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#contact">Register
                                Now</a></span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>